# Dataset Processing

In [11]:
import pandas as pd
import numpy as np

## Energy

In [27]:
energy = pd.read_csv("data/raw/energy.csv")

orientations = {2: 'north', 3: 'east', 4: 'south', 5: 'west'}
energy["Orientation"] = energy["Orientation"].apply(lambda x: orientations[x])

glazings = {0: 'unknown', 1: 'uniform', 2: 'north', 3:'east', 4:'south', 5:'west'}
energy["Glazing Area Distribution"] = energy["Glazing Area Distribution"].apply(lambda x: glazings[x])

energy.columns = ["rel_compact", "surface_area", "wall_area", "roof_area", "overall_height", "orientation", "glazing_area", "glazing_area_distribution", "heating_load", "cooling_load"]

energy_cont = energy[["rel_compact", "surface_area", "wall_area", "roof_area", "overall_height", "glazing_area"]]
energy_cat = pd.get_dummies(energy[["orientation", "glazing_area_distribution"]], dtype=int)
energy_resp = energy[["heating_load", "cooling_load"]]
energy = pd.concat([energy_cont, energy_cat, energy_resp], axis=1)
energy.to_csv("data/energy.csv", index=False)

,rel_compact,surface_area,wall_area,roof_area,overall_height,glazing_area,orientation_east,orientation_north,orientation_south,orientation_west,glazing_area_distribution_east,glazing_area_distribution_north,glazing_area_distribution_south,glazing_area_distribution_uniform,glazing_area_distribution_unknown,glazing_area_distribution_west,heating_load,cooling_load
0,0.98,514.5,294.0,110.25,7.0,0.0,0,1,0,0,0,0,0,0,1,0,15.55,21.33
1,0.98,514.5,294.0,110.25,7.0,0.0,1,0,0,0,0,0,0,0,1,0,15.55,21.33
2,0.98,514.5,294.0,110.25,7.0,0.0,0,0,1,0,0,0,0,0,1,0,15.55,21.33
3,0.98,514.5,294.0,110.25,7.0,0.0,0,0,0,1,0,0,0,0,1,0,15.55,21.33
4,0.90,563.5,318.5,122.50,7.0,0.0,0,1,0,0,0,0,0,0,1,0,20.84,28.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
763,0.64,784.0,343.0,220.50,3.5,0.4,0,0,0,1,0,0,0,0,0,1,17.88,21.40
764,0.62,808.5,367.5,220.50,3.5,0.4,0,1,0,0,0,0,0,0,0,1,16.54,16.88
765,0.62,808.5,367.5,220.50,3.5,0.4,1,0,0,0,0,0,0,0,0,1,16.44,17.11
766,0.62,808.5,367.5,220.50,3.5,0.4,0,0,1,0,0,0,0,0,0,1,16.48,16.61
767,0.62,808.5,367.5,220.50,3.5,0.4,0,0,0,1,0,0,0,0,0,1,16.64,16.03

In [32]:
energy_cat

,orientation_east,orientation_north,orientation_south,orientation_west,glazing_area_distribution_east,glazing_area_distribution_north,glazing_area_distribution_south,glazing_area_distribution_uniform,glazing_area_distribution_unknown,glazing_area_distribution_west
0,0,1,0,0,0,0,0,0,1,0
1,1,0,0,0,0,0,0,0,1,0
2,0,0,1,0,0,0,0,0,1,0
3,0,0,0,1,0,0,0,0,1,0
4,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...
763,0,0,0,1,0,0,0,0,0,1
764,0,1,0,0,0,0,0,0,0,1
765,1,0,0,0,0,0,0,0,0,1
766,0,0,1,0,0,0,0,0,0,1
767,0,0,0,1,0,0,0,0,0,1